%h1{:style => "color:#B30000; text-align:center"} Movies
%p{:style => "text-align:center"}
	=@question
%br/
%div{:style => "width: 620px; margin: 0 auto"}
	- @movies.each do |movie|
		- question = @question_method
		- if movie.send(question) == @answer
			%img{:src => "#{movie.poster}", :alt => "#{movie.title}", :style => "height: 300px; width: 200px", :onClick => "alert('Yeah')"}/
		- else
			%img{:src => "#{movie.poster}", :alt => "#{movie.title}", :style => "height: 300px; width: 200px", :onClick => "alert('Nah')"}/